@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  height: 100vh;
  background-image: url("image-from-rawpixel-id-2339099-jpeg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: relative;
  padding: 30px;
  margin: 150px auto;
}

h1 {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  background-image: linear-gradient(to right, #9795f0 0%, #3fa8e6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content li {
  width: 350px;
  height: 60px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  transition: all 0.4s;
  scale: 1;
}

.content li:hover {
  transform: scale(1.1);
}

.content span {
  font-size: 40px;
}

.content h2 {
  font-size: 20px;
  font-weight: 700;
}

.content p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.5);
}
